@font-face {
    font-family: "maplestory_bold";
    src: url("../fonts/Maplestory\ Bold.ttf");
}

@font-face {
    font-family: "maplestory_light";
    src: url("../fonts/Maplestory\ Light.ttf");
}

a{
    text-decoration: none;
    color: black;
}

*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
h1{
    font-family: "maplestory_bold";
}

hr{
    height: 5px !important;
}

ul li{
    list-style: none;
}

.content{
    width:100%;
    height:800px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    
}

table, td, th{
    border:2px solid black;
    border-collapse: collapse;
}

td, th{
    padding: 8px;
    text-align: center;
}